/* Color palette: "New Mexico */

* {
  font-family: "Poppins", sans-serif;
}

.hide {
  display: none;
}

/* Nav/title bar */
/* ================================================================================ */
nav{
  background-color: #EFFAFA!important;
}

h1{
  color: #41393A!important;
  font-weight:600!important;;
  /* padding-top:20px;
  padding-bottom: 20px; */
}
/* ================================================================================ */

/* Main */
/* ================================================================================ */
#main-container{
  position: relative;
  /* border: 2px dashed hotpink; */
  /* height is 100-nav height -footer height */
 min-height: calc(100vh - 60px - 60px);
  /* display: flex; */
  /* justify-content: center; */
}
/* ================================================================================ */

/* Notifications */
/* ================================================================================ */
.notification{
  border: 1px outset;
  float: bottom;
  position: absolute;
  top: 100px;
  /* bottom: 0px; */
  text-align: center;
  z-index: 0;

}
.notif-title{
  font-size: 25px;
}

/* ================================================================================ */

/* Persona image */
/* ================================================================================ */
#persona-image {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  border: 5px solid #374B4A;
  background-color: #E9EDEC;
}

/* ================================================================================ */

/* Messages (messages are what displays the individual data about each new persona */
/* ================================================================================ */
.message-header{
  background-color: #374B4A!important;
}

.message-body{
  background-color: #E9EDEC!important;
  font-weight: bold;
}

.bio-loading{
  color: gray;
  font-weight: bold;
}

/* ================================================================================ */

/* Footer/action bar and the icons */
/* ================================================================================ */
#action-bar {
  text-align: center;
}

.action-icon {
  /* border: 1px dashed blue; */
  margin: auto;
}


/* style disabled buttons so they don't do anything */
.disabled{
  /* border: 2px solid red; */
  cursor: not-allowed;
}
.disabled:hover{
  border: 2px solid #EFF6F6;
}
/* --------------------------------------------- */

.genNew-is-active{
  background-color: #30b077!important;
  border: 2px inset;
}

#gen-new-icon-container{
  background-color: #5DD39E;
  border-radius: 10px;
}

.save-able{
  background-color: #C5FFFD;
  border-radius: 10px;
}

.storage-able{
  background-color: #EBB984;
  border-radius: 10px;
}
.trash-able{
  background-color: #AF1B3F!important;
  border-radius: 10px;
}

.fas{
  color: #41393A;
}

/* .icon-label{
    font-size: 10pt;
    } */

button {
  border: 2px solid #EFFAFA;
}

button:hover{
    /* border-width: 2px; */
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

footer {
  background-color: #EFFAFA!important;
    padding-top:20px!important;
    padding-bottom: 20px!important;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    /* clear: both; essentially a line break for floating */
}