/* Color palette: "New Mexico */

* {
  font-family: "Poppins", sans-serif
}

#wrap {
  min-height: 100%;
}

.hide {
  display: none;
}

/* Nav/title bar */
/* ================================================================================ */
nav{
  background-color: #374B4A!important;
  /* background-color: lightgreen!important; */
  position:fixed!important;
  top:0;
  left:0;
  width: 100%;
}

h1{
  color: #EFFAFA!important;
  font-weight:600!important;;
  /* padding-top:20px;
  padding-bottom: 20px; */
}
/* ================================================================================ */

/* Main */
/* ================================================================================ */
main{
  /* position: relative; */
  border: 2px dashed hotpink;
  margin-top: 52px;
  /* height: 100%; */
  /* height is 100-nav height -footer height */
 /* height: calc(100vh); */
  /* display: flex; */
  /* justify-content: center; */
}
/* ================================================================================ */

/* Notifications */
/* ================================================================================ */
#landing-block{
  /* border: 1px outset; */
  border: 2px solid royalblue!important;
  /* height: calc(100vh - 150px); */
  height:calc(100vh - 131px);
  margin-bottom: 0px;
  /* float: bottom; */
  /* position: absolute; */
  /* bottom: -22px; */
  /* bottom: 0px; */
  text-align: center;
  
}

.half-page{
  min-height:310px;
  /* height: 40%; */
  /* border: 3px solid red; */

  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  /* height: 400px; */
  
}

#landing-notification{
  padding:60px;
  height: 100%;
  width: 100%;
  /* align-items: center; */
}

#clear-warning-block{
  border: 1px outset;
  /* float: bottom; */
  position: absolute;
  bottom: -35px;
  right: 0px;
  /* bottom: 0px; */
  text-align: center;
}

#form-block{
  border: 1px outset;
  /* float: bottom; */
  position: absolute;
  top: 200px;
  /* bottom: 0px; */
  text-align: center;
}

/* #form-submit-btn{
  background-color:green;
} */

.notif-title{
  font-size: 25px;
}

.user-select{
  color: white!important;
  background-color:#5DD39E!important;
  border-radius: 5px !important;
}

/* ================================================================================ */

/* Persona image */
/* ================================================================================ */
#persona-image {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  border: 5px solid #344645;
  background-color: #E9EDEC;
}

/* ================================================================================ */

/* Messages (messages are what displays the individual data about each new persona */
/* ================================================================================ */

.message-header{
  background-color: #344645!important;
}

.message-body{
  background-color: #E9EDEC!important;
  font-weight: bold;
}

.bio-loading{
  color: gray;
  font-weight: bold;
}

/* ================================================================================ */

/* Library/Storage */
/* ================================================================================ */
#library-title{
  margin-top:20px;
  padding: 15px;
  text-align: center;
  background-color:#Dd882c;
  color: white;
}

.table{
  color: #344645!important;
}
.table.is-striped tbody tr:not(.is-selected):nth-child(even){
  background-color: #f9ebdc!important;
}
/* ================================================================================ */

/* Footer/action bar and the icons */
/* ================================================================================ */
#action-bar {
  text-align: center;
}

.action-icon {
  /* border: 1px dashed blue; */
  margin: auto;
}

/* style disabled buttons so they don't do anything */
.disabled{
  /* border: 2px solid red; */
  cursor: not-allowed;
}
.disabled:hover{
  border: 2px solid #EFF6F6;
}

.genNew-is-active{
  background-color: #30b077!important;
  border: 2px inset;
}

.gnp-able{
  background-color: #5DD39E;
  border-radius: 10px;
}
.save-able{
  background-color: #C5FFFD;
  border-radius: 10px;
}

.library-able{
  background-color: #EBB984;
  border-radius: 10px;
}
.trash-able{
  background-color: #AF1B3F!important;
  border-radius: 10px;
}

/* .fas{
  color: #41393A;
} */

/* .icon-label{
    font-size: 10pt;
    } */

button {
  border: 2px solid #EFFAFA;
}

button:hover{
    /* border-width: 2px; */
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

footer {
  background-color: #EFFAFA!important;
  /* background-color: aqua !important; */
  position:fixed;
 bottom:0;
 left:0;
 width: 100%;
 margin: 0px!important;
 height: 80px;
}

/* Snackbar  yo this is new to me*/
/*=========================================================== */
/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
  visibility: hidden;
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #344645;
  color: #E9EDEC;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
}

.snackbar.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 1.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}