/* h1 {
    color: purple
}  */

#title-bar {
    border: 1px solid blue;
}

#action-bar {
    border: 1px solid green;
}

.action-icon{
    text-align:center;
}

.fas{
    margin:auto;
}

.test {
    padding: 20px;
    border: 5px dotted black;
}

.testPersonaFont {
    font-weight: bold;
    font-size: 18px;

}