/* Color palette: "New Mexico */

* {
  font-family: "Poppins", sans-serif;
}

#wrap {
  min-height: 100%;
}

.hide {
  display: none;
}

body {
  background-image: URL("./images/pexels-akwice-3094799.jpg");
  background-size: cover;
  overflow: auto;
  height: 900px;
}

/* Nav/title bar */
/* ================================================================================ */
nav {
  background-color: #d3d3d3 !important;
  position: relative !important;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  color: #0ca4a5 !important;
  font-weight: 600 !important;
}
/* ================================================================================ */

/* Main */
/* ================================================================================ */

.is-primary {
  background-color: #0ca4a5 !important;
}

.is-primary:hover {
  background-color: #0a8585 !important;
}

/* ================================================================================ */

/* Notifications */
/* ================================================================================ */

#landing-block {
  /* border: 1px outset; */
  height: calc(100vh - 131px);
  margin-bottom: 0px;
  text-align: center;
}
#landing-notification {
  padding: 0px;
  background-color: transparent;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

h3 {
  color: white !important;
  padding: 30px !important;
  /* backdrop-filter: blur(30px); */
}

#landing-container {
  width: 100%;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form-block {
  border: 1px outset;
  /* float: bottom; */
  position: absolute;
  top: 200px;
  /* bottom: 0px; */
  text-align: center;
}
.notif-title {
  font-size: 25px;
}

.user-select {
  color: white !important;
  background-color: lightslategray !important;
  border-radius: 5px !important;
}

.main-icon {
  color: white;
  font-size: 30px;
}

/* ================================================================================ */

/* Persona Block */
/* ================================================================================ */
#persona-image {
  border-radius: 30px;
  display: block;

  width: 100%;
  height: 100%;
  background-color: #e9edec;
}

#image-container {
  width: 100%;
}

#persona-block {
  margin: 0px;
  margin-bottom: 20px;
}

#persona-box {
  background-color: transparent;
  position: relative;
  height: 100%;
}

#data-container {
  margin-bottom: 50px;
}

.active-col,
.collapsible,
.collapsible:hover {
  background-color: lightslategray;
  cursor: pointer;
}

.collapsible:hover {
  background-color: lightslategray;
  cursor: pointer;
}

.card-header-icon:hover {
  color: white;
}

.card-header-title {
  color: white !important;
}

.collapsible {
  padding: 0px;
}

/* Style the collapsible content. Note: hidden by default */
.card-content {
  padding: 10px !important;
  display: none;
  color: black;
  background-color: #e9edec;
}

/* ================================================================================ */

/* Messages (messages are what displays the individual data about each new persona */
/* ================================================================================ */

.message-header {
  background-color: #344645 !important;
}

.message-body {
  background-color: #e9edec !important;
  font-weight: bold;
}

.bio-loading {
  color: gray;
  font-weight: bold;
}

/* ================================================================================ */

/* Library/Storage */
/* ================================================================================ */

#library-title {
  /* margin-top:20px; */
  margin-bottom: 0px;
  padding: 15px;
  text-align: center;
  background-color: #effafa;
  color: #374b4a;
}

thead {
  background-color: #69d2d1;
}

#table-labels:hover {
  background-color: #69d2d1;
}

th {
  color: #374b4a !important;
}

.table {
  color: #344645 !important;
}

#library-delete {
  font-size: 14pt;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#library-confirm {
  font-size: 14pt;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ================================================================================ */

/* Footer/action bar and the icons */
/* ================================================================================ */
#action-bar {
  text-align: center;
}

.action-icon {
  margin: 0;
}

/* style disabled buttons so they don't do anything */
.disabled {
  cursor: not-allowed;
}
.disabled:hover {
  border: 2px solid #eff6f6;
}

.able {
  background-color: #0ca3a5;
  color: #374b4a;
  border-color: transparent;
  border: 2px outset;
}

.able:hover {
  background-color: #0ebebe;
  border-color: transparent;
  color: lightgray;
}
.active {
  background-color: lightgray;
  border-color: #0ca4a5;
  color: #effafa;
  border: 2px inset;
}

.active:hover {
  background-color: lightgray;

  border-color: #0ca4a5;
  color: #effafa;
  border: 2px inset;
}
button {
  border: 2px solid #effafa;
}

button:hover {
  /* border-width: 2px; */
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0px !important;
  height: 80px;
}

/* Snackbar  yo this is new to me*/
/*=========================================================== */
/* position it at the bottom and in the middle of the screen */
.snackbar {
  visibility: hidden;
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #344645;
  color: #e9edec;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
}
.snackbar.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 1.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 100px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 100px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#user-select-random {
  width: 300px;
  margin-bottom: 20px;
}

#custom-settings {
  margin: auto;
  max-width: 300px;
  font-family: "Poppins", sans-serif;
}

select {
  width: 85%;
  height: 40px;
}

input {
  width: 85%;
  height: 40px;
}

#form-card {
  max-width: 300px;
  margin: auto;
  margin-bottom: 30px;
}
